/* menu_catalog */
.menu_catalog{
	margin-bottom: 31px;
}
	.menu_catalog a{
		display: block;
		padding-left: 10px;
		line-height: 42px;

		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;

		background-color: #fff;
		font-size: 18px;
		color: #3f9b3e;
		font-weight: 600;

		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
		
	}
		.menu_catalog li:first-child a{
			border-top: 1px solid #cccccc;
		}
		.menu_catalog a:hover,
		.menu_catalog a.active{
			background-color: #ebebeb;
			text-decoration: none;
			color: #8c8c8c;
		}

/* catalog item */
.catalog_item{	
	box-shadow: 2px 2px 5px 1px rgba(0,0,0, .2);
	border: 1px solid #cccccc;
	margin-bottom: 31px;
}	
	/* this style using on catalog_product and product*/
	.img_wrapper{ position: relative; }
	.zoom{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 2;
		width: 45px;
		height: 45px;
		line-height: 45px;
		text-align: center;
		color: #fff;
		background-color: #3f9b3e;
		cursor: pointer;

		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
	}
		.zoom:hover{
			background-color: #4ab548;
		}
	.catalog_item .name{
		display: block;
		padding: 5px 8px;
		height: 55px;
		overflow: hidden;
		border-top: 1px solid #cccccc;
		border-bottom: 1px solid #cccccc;

		text-decoration: none;
		font-size: 18px;
		line-height: 23px;
		color: #3f9b3e;
	}
	.catalog_item .info{
		padding: 5px 8px;
		border-bottom: 1px solid #cccccc;
		font-size: 14px;
		font-weight: 600;
		color: #1c3665;
		line-height: 18px;
	}
	.catalog_item .detailed{
		display: block;
		height: 44px;
		line-height: 44px;
		
		text-decoration: none;
		text-align: center;
		color: #fefefe;
		font-weight: 900;
		font-size: 18px;
		background-color: #3f9b3e;

		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
	}
		.catalog_item .detailed:hover{
			background-color: #4ab548;
		}
	.catalog_item .price_wrapper{
		text-align: center;
	}
		@media(max-width: 767px){
			.catalog_item .price_wrapper{
				margin: 5px 0;
			}
		}
	.catalog_item .price{
		color: #3f9b3e;
		font-size: 22px;
		line-height: 32px;
		font-weight: 900;
	}
