.gmap{
  margin-bottom: 45px;
}

.contacts_form_wrapper{}
  @media(max-width: 981px){
    .contacts_form_wrapper{
      margin-bottom: 31px;
    }   
  }
  
  /* main form style - theme-default.css */
  .contacts_form_wrapper form{
    margin-top: 30px;
    position: relative;
  }

  