.mainpage_top{
  padding: 0;
}
  @media(max-width: 767px){
    .mainpage_top{
      width: 100%;
      padding: 0 15px;
    }
  }

.banner_left{
  height: 335px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.banner_right{
  height: 152px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
  .banner_right.top{
    margin-bottom: 31px;
    background: url(images/banner_1.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 23px;
    font-weight: 600;
    text-decoration: none;
  }
  .banner_right.bot{
    background: url(images/banner_2.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
    background-size: cover;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
    .banner_right.bot a{
      color: #fff;  
      text-decoration: none;
    }
  @media(min-width: 767px) and (max-width: 991px){
    .banner_right.top,
    .banner_right.bot{
      width: calc(50% - 15px);
    }
      .banner_right.top{
        margin-right: 15px;
      }
      .banner_right.bot{
        margin-left: 15px;
      }
  }
  @media(max-width: 767px){
    .banner_right.bot{
      margin-bottom: 31px;
    }
  }
.banner_red{
  min-height: 112px;
  margin-bottom: 10px;
  margin: 0 15px 25px;
  padding: 15px;

  background: url('images/banner_red.jpg') no-repeat right 0;
  -webkit-background-size: cover;
  background-size: cover;
}
  .banner_red h2{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .banner_red p{
    font-size: 14px;
    color: #fff;
    line-height: 23px;
  }

/* welcome text */
.welcome{}
  @media(max-width: 991px){
    .welcome{
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
/* news_block */
.news_block{}
  .news_block h2{
    margin-bottom: 20px;
  }
.news_item{
  font-size: 14px;
  margin-bottom: 30px;
}
  .news_item:last-child{
    margin-bottom: 0;
  }
  .news_item .date{
    color: #1c3665;
  }
  .news_item a{
    color: #3f9b3e;
    font-weight: 600;
    text-decoration: none;
    line-height: 23px;
  }