.news_page_item{
	margin-bottom: 35px;
	float: left;
	width: 100%;
}
.news_page_item .date{
	float: left;
	padding: 5px;
	display: inline-block;
	margin-bottom: 15px;

	background: #616161;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
}
.news_page_item a{
	display: inline-block;

	font-size: 20px;
	color: #3f9b3e;
	line-height: 23px;
	clear: both;
  float: left;
}
	.news_page_item a:hover{
		text-decoration: none;
		color: #4ab548;
	}