/*reset meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b{
	font-weight: 900;
}

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*=== GRID ===*/
html{ height: 100%; }
body{ 
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
	height: 100%; 

	font-size: 14px;
	font-family: 'Open Sans', helvetica, arial, sans-serif;

	background: url('images/body_bg.jpg') no-repeat 50% fixed;
	-webkit-background-size: cover;
	background-size: cover;

  overflow-x: hidden;
}

#header{ 
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
#wrapper{
	-webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
#footer{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}
.green_divider{
	border-top: 4px solid #3f9b3e;
	box-shadow: 0 2px 5px 1px rgba(0,0,0, .2);
}

/*=== FONTSTYLE ===*/
.page_h1,
.page_h2{
	margin-bottom: 15px;

	text-transform: uppercase;
	color: #3f9b3e;
}
.page_h1{
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
}
.page_h2{
	font-size: 24px;
	line-height: 24px;
	color: #3f9b3e;
	font-weight: 900;
}
.h2_style{
  font-size: 24px;
  font-weight: 900;
  color: #3f9b3e;
}

.top_title_with_button{
  margin-top: -15px;
}

.ck_editor,
.ck_editor * {
	font-size: 14px;
	color: #1c3665;
}
	.ck_editor a{
		color: #3f9b3e;
	}
	.ck_editor h2{
		font-size: 24px;
		color: #3f9b3e;
		font-weight: 600;
		margin-bottom: 15px;
	}

/*=== BREADCRUMBS ===*/
.breadcrumbs_wrapper{ 
	background: #e3e3e3;
	margin-bottom: 35px; }
.breadcrumb{
	margin-bottom: 0px;
	background: 0;

	font-size: 14px;
	color: #646464;
}
	.breadcrumb>li:before,
	.breadcrumb>li+li:before{
		color: #646464;
		font-size: 16px;
	}
	.breadcrumb a{
		font-size: 16px;
		color: #3f9b3e;
		text-decoration: underline;
	}
		.breadcrumb a:hover{
			text-decoration: none;
		}

/*=== PAGINATION ===*/
#pagination_wrapper{
	text-align: center;
	font-size: 14px;
}
	#pagination_wrapper .pagination{
		margin: 10px 0 50px 0;
	}
	#pagination_wrapper a{
		color: #3f9b3e;

    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    
	}
  #pagination_wrapper li.active a{
    background-color: #ebebeb;
    border-color: #ddd;
  }

/*=== FORM ===*/
/* 
	Using on product.html with position:absolute and contacts.html as static,
	add custom class to form for monkey-coding :D
*/

/* onSend message */
.form_submit_popup{
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 3;
  width: calc(100% - 30px );
  height: 100%;
  background: #3f9b3e;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  text-align: center;
  font-size: 22px;
  color: #fefefe;

  display: none;
}
	.form_submit_popup .ico_wr{
	  width: 68px;
	  height: 68px;
	  line-height: 68px;
	  text-align: center;
	  margin: 0 auto;
	  border: 1px solid #fff;
	  border-radius: 50%;
	  margin-bottom: 15px;
	}
	.close_btn{
		width: 15px;
		height: 20px;
		line-height: 20px;
		z-index: 3;
		
		cursor: pointer;
		text-align: center;
		font-weight: 600;
		font-size: 18px;
	}

/* form style*/
input[type="email"],
input[type="text"],
textarea{
  border: 3px solid #3f9b3e;
  width: 100%;  
  padding-left: 10px;
  margin-bottom: 15px;
  
  background-color: #fff;
  font-size: 17px;
  color: #98a6b8;
}
input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus{
  outline: 0;
}
input[type="email"],
input[type="text"]{
  height: 46px;
  line-height: 46px;
}
textarea{
  padding-top: 10px;
  height: 115px;
  resize: none;
}
input[type="submit"]{
  height: 52px;
  line-height: 52px;
  text-align: center;
  width: 100%;
  border: 0;
  outline: 0;

  background-color: #3f9b3e;
  color: #fefefe;
  font-size: 22px;
  font-weight: 600;

  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
  input[type="submit"]:hover{
    background-color: #4ab548;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0, .2);
  }

/*=== ANIMATION ===*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/*=== BACKGROUNDS ===*/
.sprite,
.zoom {
  background-image: url('images/sprite.png');
  background-repeat: no-repeat;
  display: block;
}
  .zoom {
    background-position: -21px -580px;
  }
  .sprite-call_us {
    width: 55px;
    height: 55px;
    background-position: -30px -30px;

    margin-left: 10px;
    margin-top: 28px;
  }
  .sprite-euro {
    background-position: -14px -130px;
  }
  .sprite-msg_mail_send {
    background-position: -13px -212px;
  }
  .sprite-msg_product_send {
    background-position: -16px -297px;
  }
  .sprite-pdf {
    background-position: 75px -397px;
    padding-left: 65px;
  }
  .sprite-telephone {
    background-position: -9px -491px;
  }

/* preloader */
.preloader{
  position: absolute;
  width: 100%;
  z-index: 2;
  background: rgba(0,0,0, .5);
  height: 412px;
  top: 0;
  left: 0px;
}
  .preloader img{
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

